@mixin transition-vendors($property...) {
	-webkit-transition: $property;
    -moz-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin sprite-mixin {
    display: inline-block;  
    overflow: hidden; 
    text-indent: -9999px; 
    text-align: left; 
}
